@model IEnumerable<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Trips Page";
}

<div class="row">

    <div class="col-md-6">
        <h2>The Map</h2>
        <ul>
            @foreach (var trip in Model)
            {
                <li>@trip.Name (@trip.Created.ToShortDateString())</li>
            }
        </ul>
    </div>
</div>
